body
{
    padding: 10px;
}
img 
{
    width: 200px;
    height: 200px;
    margin-top: 70px;
    border-radius: 100px;

}
.textoMeuPet
{
    margin-top: 20px;
    margin-bottom: 25px;
    color:#D91A1A;
    font-size: 30px;
    font-weight: bolder;
}

header .container .navbar-secondary{
    background-color: #D95555;
}
.nav.justify-content-end
{
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}
.nav a
{
    color: #FFF;
    font-size: 19px;
}

.nav a:hover{
    color: #111;   
}

.frmbody
{
    margin-top: 20px;
}

#icon
{
    font-size: 70px;
}

tr
{
    text-align: center;
}

.carteira img
{
    height: 150px;
    width:  150px;
    border: 2px solid #FFF;
    border-radius: 100px;
    margin-top: 10px;
    
}
.carteira
{
    background-color: dimgray;
    border-radius: 10px;
}

.carteira h2{
    color: #FFF;
}

.card .texto
{
    background-color:#F2F2F2;
    border: 2px solid #D95555;
} 

.card .texto:hover
{
    background-color:#D95555;
} 


a .texto{
    color:#D91A1A;
}

a .texto:hover{
    color: #F2F2F2;
}

.card .btn a{
    color: #FFF;
}

.botoes a{
    color: #FFF;
}