body
{
    padding: 10px;
}
img 
{
    width: 200px;
    margin-top: 70px;
}
.textoMeuPet
{
    margin-top: 25px;
    margin-bottom: 25px;
    color:dimgray;
}

#texto
{
    font-size: 25px;
}

a{
    text-decoration: none;
    color:blanchedalmond;
}

a:hover
{
    color:#FFF;
}

.nav
{
    padding: 10px;
    border-radius: 10px;
}
.nav a{
    color: blanchedalmond;
    font-size: 19px;
}

.nav a:hover{
    color: #FFF;
    
}

.frmbody
{
    margin-top: 20px;
}

#icon
{
    font-size: 70px;
}

tr
{
    text-align: center;
}

.carteira img
{
    height: 150px;
    width:  150px;
    border: 2px solid #FFF;
    border-radius: 100px;
    margin-top: 10px;
    
}
.carteira
{
    background-color: dimgray;
    border-radius: 10px;
}

.carteira h2{
    color: #FFF;

}