body
{
    padding: 10px;
}
img 
{
    width: 200px;
    height: 200px;
    /* margin-top: 70px; */
    /* border-radius: 100px; */

}
.textoMeuPet
{
    margin-top: 20px;
    margin-bottom: 25px;
    color:#D95555;
    font-size: 30px;
    font-weight: bolder;
}


header .container .navbar-secondary{
    background-color: #D95555;
}
.nav.justify-content-end
{
    padding: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}
.nav a
{
    color: #FFF;
    font-size: 19px;
}

.nav a:hover{
    color: #111;   
}

.frmbody
{
    margin-top: 20px;
}

#icon
{
    font-size: 70px;
}

tr
{
    text-align: center;
}

.container .carteira img
{
    height: 160px; 
    width:  140px;
    /* border: 2px solid #FFF; */
    /* border-radius: 100px; */
    margin-top: 15px;
    /* border: 1px solid red; */
    
}
.carteira
{
    background-color: #F2F2F2;
    border-radius: 10px;
}

.carteira h2{
    color: #D95555;
    padding-bottom: 20px;
}

.card .texto
{
    background-color:#F2F2F2;
    border: 2px solid #D95555;
} 

.card .texto:hover
{
    background-color:#D95555;
} 


a .texto{
    color:#D91A1A;
}

a .texto:hover{
    color: #F2F2F2;
}

.card .btn a{
    color: #FFF;
}

.botoes a{
    color: #FFF;
}

.container .petCarteira{
    padding: 40px;
}
table  tr.primeiraLinha{
    background-color: #D95555;
    color: #FFF;
}
table tr.segundaLinha{
    margin-top: 30px;
    background-color: #D95555;
}
.table-responsive{
    border-radius: 10px;
}